{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
    {% if app.user.referrals.count is not empty %}
        {% for referral in app.user.referrals %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="window m-b-30">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5 text-center">
                                <div class="avatar">
                                    <span class="empty">Нет фото</span>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="fullname">{{ referral.lastname }} {{ referral.firstname }}</div>
                                <div class="description">
                                    В системе с:
                                    <span class="value">{{ referral.createdAt|date('d.m.Y') }}</span>
                                </div>
                                <div class="description">
                                    Структура:
                                    <span class="value">{{ referral.referrals.count }} чел.</span>
                                </div>
                                {% if referral.tickets is not empty %}
                                    <div class="description">
                                        Столы:
                                        <span class="value">
                                        {% for ticket in referral.tickets %}
                                            {{ ticket.rate.name }}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        К сожалению на данный момент у Вас нет приглашенных рефералов
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    {#todo: тут видемо предпологается адская пагинация#}
    {#<div class="row">#}
        {#<div class="col-lg-12 text-center">#}
            {#<button class="btn btn-primary">Ещё профили</button>#}
        {#</div>#}
    {#</div>#}
{% endblock %}