{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="window">
                <div class="header">Профиль</div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                            <div class="change">Изменить</div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">В системе:<span class="value">12 дней</span></div>
                            <div class="description">Заработано:<span class="value">100 USD</span></div>
                            <div class="description">Структура:<span class="value">50 человек</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="window">
                <div class="header">Профиль спонсора</div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Фамилия Имя</div>
                            <div class="description">Телефон:<span class="value">+7 000 000 0000</span></div>
                            <div class="description">Почта:<span class="value">test@rublic.dev</span></div>
                            <div class="description">VK:<span class="value">vk.com/rublic</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="window m-t-30">
                <div class="header">Редактировать профиль</div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Иван'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Иванов'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.middleName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': 'Иванов'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'ivanov@finfix.ru'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': '+7(000)000-0000'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.account, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(form.account, {'attr': {'class': 'form-control', 'placeholder': 'U0000000'}}) }}
                            </div>
                        </div>
                        {#todo сделать смену пароля как в fosuserbundle#}
                        {#<div class="form-group">#}
                            {#<label class="control-label col-xs-4">Пароль</label>#}
                            {#<div class="col-xs-8">#}
                                {#<input class="form-control" type="text">#}
                            {#</div>#}
                        {#</div>#}
                        <div class="text-center">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="window m-t-30">
                <div class="header">Новости FinFix</div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-3 text-center news-date">20.01.16</div>
                        <div class="col-xs-9 news-text">
                            Новости системы FinFix как всегда очень хорошие, мы стартанули супер мега пупер систему для рефферального заработка!
                            <div class="text-right news-continue">Читать далее</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center news-all">
                            Все новости
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}