<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'layout.title'|trans }}</title>
    <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/sprites.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row header">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                        <a class="icon-logo logo" href="http://fixfin.ru"></a>
                        <div class="logo-words">{{ 'layout.logo_words'|trans }}</div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6 text-right">
                        <div class="user-control">
                            <div class="username">{{ app.user.lastname }} {{ app.user.firstname }}</div>
                            {{ render(controller('AppBundle:Default:notifications')) }}
                            <a class="logout" href="{{ path('fos_user_security_logout') }}">
                                Выход
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                        {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row navigation">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                        <div class="submenu">
                            <div class="nav-item">
                                <a href="{{ path('app_support') }}">{{ 'layout.support'|trans }}</a>
                            </div>
                            <i class="separator">|</i>
                            <div class="nav-item">
                                <a href="#" class="js-privacy-policy">{{ 'layout.confidencial_policy'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-right">
                        <div class="social">
                            <div class="nav-item">{{ 'layout.social_networks'|trans }}</div>
                            <i class="separator">|</i>
                            <a class="icon-youtube nav-item" href="http://www.youtube.com/channel/UCEbXDVRPGDeaXTx-k7hgJpg" target="_blank"></a>
                            <a class="icon-vkontakte nav-item" href="https://vk.com/fixfin" target="_blank"></a>
                            <a class="icon-instagram nav-item" href="https://www.instagram.com/fixfinref" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="modal-privacy-policy">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'layout.confidencial_policy'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% include 'AppBundle::privacy.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/modulejs.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script src="{{ asset('bundles/app/js/clipboard.js') }}"></script>
    <script>
        modulejs.require('notifyPopover').start({button: '.js-notify-popover', counter: '.js-notify-counter'});
        modulejs.require('privacyModal').start();
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>
