<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FinFix</title>
    <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/sprites.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row header">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                        <div class="icon-logo logo"></div>
                        <div class="logo-words">
                            Справедливая
                            Реферральная
                            Система
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6 text-right">
                        <div class="user-control">
                            <div class="username">{{ app.user.lastname }} {{ app.user.firstname }}</div>
                            {{ render(controller('AppBundle:Default:notifications')) }}
                            <a class="logout" href="{{ path('fos_user_security_logout') }}">
                                Выход
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                        {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row navigation">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                        <div class="submenu">
                            <div class="nav-item">
                                <a href="{{ path('app_support') }}">Техподдержка</a>
                            </div>
                            <i class="separator">|</i>
                            <div class="nav-item">Политика конфеденциальности</div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-right">
                        <div class="social">
                            <div class="nav-item">Мы в соцсетях</div>
                            <i class="separator">|</i>
                            <a class="icon-instagram nav-item" href="https://www.instagram.com/fixfinref" target="_blank"></a>
                            <a class="icon-vkontakte nav-item" href="https://vk.com/club53373292" target="_blank"></a>
                            <a class="icon-odnoklassniki nav-item" href="http://ok.ru/profile/569554177101" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/modulejs.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script src="{{ asset('bundles/app/js/clipboard.js') }}"></script>
    <script>
        modulejs.require('notifyPopover').start({button: '.js-notify-popover', counter: '.js-notify-counter'});
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>
