{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ render(controller('AppBundle:Flash:messages')) }}
    {% if rates is not empty %}
    <ul class="nav nav-tabs">
    {% for rate in rates %}
        <li class="{% if loop.first %}active{% endif %}">
            <a href="#table_{{ rate.id }}">{{ rate.name }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for rate in rates %}
        <div class="tab-pane{% if loop.first %} active{% endif %} col-lg-12" id="table_{{ rate.id }}">
            {{ render(controller('AppBundle:Dashboard:table', {'rate': rate.id})) }}
        </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="window">
        <div class="header">
            <h3>Работа со столами</h3>
        </div>
        <div class="content">
            Извените но на данный момент столы в системе не созданы!
        </div>
    </div>
    {% endif %}
{% endblock %}

{% if rates is not empty %}
    {% block javascripts %}
    <script>
        var dashboard = modulejs.require('dashboard');
        dashboard.start();
    </script>
    {% endblock %}
{% endif %}