{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="middle-box text-center animated fadeInDown login-form">
        <a class="icon-logo logo" href="http://fixfin.ru"></a>
        <h3>{{ 'security.login.greeting'|trans }}</h3>
        <p>{{ 'security.login.note'|trans }}</p>
        <form class="m-t" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
                <input type="text" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}">
            </div>
            <div class="form-group">
                <input type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}">
            </div>
            <a href="{{ path('fos_user_resetting_request') }}"><small>{{ 'security.login.forgot_password'|trans }}</small></a>
            <button type="submit" class="btn btn-primary m-l-10">{{ 'security.login.submit'|trans }}</button>
            <p class="text-muted text-center m-t-10"><small>{{ 'security.login.not_have_an_account'|trans }}</small></p>
            <a class="" href="{{ path("fos_user_registration_register") }}">{{ 'security.login.registration'|trans }}</a>
        </form>
    </div>
{% endblock fos_user_content %}
