<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ 'security.login.title'|trans }}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet"/>
            <link href="{{ asset('bundles/app/css/sprites.css') }}" rel="stylesheet"/>
            <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet"/>
        {% endblock stylesheets %}
    </head>
    <body class="gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block fos_user_content %}{% endblock fos_user_content %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/app/js/main.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
