{% extends "AppBundle::layout.html.twig" %}

{% from 'AppBundle::helpers.html.twig' import transaction_status %}

{% block content %}
    <div class="window">
        <div class="header">
            <h3>История транзакций</h3>
        </div>
        <div class="content">
        {% if transactions is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Источник</th>
                    <th>Получатель</th>
                    <th>Сумма</th>
                    <th>Создана</th>
                    <th>Обновлена</th>
                    <th>Статус</th>
                    <th>Инвойс</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.source.number }}</td>
                        <td>{{ transaction.destination.number }}</td>
                        <td>${{ transaction.amount }}</td>
                        <td>{{ transaction.createdAt|date('d.m.Y H:i:s') }}</td>
                        <td>{% if transaction.updatedAt is not empty %}{{ transaction.updatedAt|date('d.m.Y H:i:s') }}{% endif %}</td>
                        <td class="text-center">{{ transaction_status(transaction.status) }}</td>
                        <td>
                            {% if transaction.invoice is not null %}
                                {{ transaction.invoice.id }}
                            {% else %}
                                Без инвойса
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Извените но пока Вы ненакопили историю транзакций.
        {% endif %}
        </div>
    </div>
{% endblock %}