{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ render(controller('AppBundle:Flash:messages')) }}
    <div class="row profile">
        <div class="col-lg-6">
            <div class="window">
                <div class="header">Профиль</div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center avatar">
                            {% if app.user.avatar is not empty %}
                                <img class="avatar-filtered" id="user_avatar" src="{{ app.user.avatar|imagine_filter('avatar_125x125') }}" width="125" height="125">
                            {% else %}
                                <div class="avatar-empty">
                                    <span class="title">Нет фото</span>
                                </div>
                                <img class="avatar-filtered hidden" id="user_avatar" width="125" height="125">
                            {% endif %}
                            <input type="file" id="avatar_file" accept="image/jpeg,image/png">
                            <div class="change m-t-5">
                                <a href="#" class="js-change-avatar">Изменить</a>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            {% if app.user.lastname is not empty or app.user.firstname is not empty %}
                                <div class="fullname">{{ app.user.lastname }} {{ app.user.firstname }}</div>
                            {% endif %}
                            <div class="description">В системе с:<span class="value">{{ app.user.createdAt|date('d.m.Y') }}</span></div>
                            {% if app.user.account is not empty and app.user.account.profit > 0 %}
                                <div class="description">Заработано:<span class="value">{{ app.user.account.profit }} USD</span></div>
                            {% endif %}
                            <div class="description">Структура:<span class="value">{{ app.user.referrals.count }} чел.</span></div>
                        </div>
                    </div>
                    {% if app.user.caninvite %}
                        <div class="row m-t-10">
                            <div class="col-xs-12 text-center">
                                <strong>Реф.ссылка:</strong>&nbsp;
                                <span class="value">{{ url('app_profile', {'ref': app.user.username}) }}</span>&nbsp;
                                <button class="btn btn-xs js-ref-link" data-clipboard-text="{{ url('fos_user_registration_register', {'ref': app.user.username}) }}" title="Скопировать в буфер">
                                    <i class="glyphicon glyphicon-copy"></i>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="window window-referrer">
                <div class="header">Профиль лидера</div>
                <div class="content">
                    <div class="row">
                    {% if app.user.referrer is not null %}
                        {% set referrer = app.user.referrer %}
                        <div class="col-xs-5 text-center avatar">
                        {% if referrer.avatar is not empty %}
                            <img src="{{ referrer.avatar|imagine_filter('avatar_125x125') }}" width="125" height="125">
                        {% else %}
                            <div class="avatar-empty">
                                <span class="title">Нет фото</span>
                            </div>
                        {% endif %}
                        </div>
                        <div class="col-xs-7">
                        {% if referrer.lastname is not empty or referrer.firstname is not empty %}
                            <div class="fullname">{{ referrer.lastName }} {{ referrer.firstName }}</div>
                        {% endif %}
                        {% if referrer.phone in not null %}
                            <div class="description">Телефон:<span class="value">{{ referrer.phone }}</span></div>
                        {% endif %}
                        {% if referrer.email is not null %}
                            <div class="description">Почта:<span class="value">{{ referrer.email }}</span></div>
                        {% endif %}
                        {% if referrer.vKontakte is not null %}
                            <div class="description">VK:<span class="value">{{ referrer.vKontakte }}</span></div>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="col-xs-12 text-center">У Вас нет лидера</div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile">
        <div class="col-lg-6">
            <div class="window m-t-30">
                <div class="header">Редактировать профиль</div>
                <div class="content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_label(form.username, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'ivan'}}) }}
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Иван'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Иванов'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.middleName, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': 'Иванов'}}) }}
                            {{ form_errors(form.middleName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'ivanov@finfix.ru'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': '+7(000)000-0000'}}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.account, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            <div class="input-group">
                                {{ form_widget(form.account, {'attr': {'class': 'form-control', 'placeholder': 'U0000000'}}) }}
                                <div class="input-group-addon"><a href="https://perfectmoney.is/signup.html?ref=163830" target="_blank">Создать</a></div>
                            </div>
                            <span id="profile_account_error">
                                {{ form_errors(form.account) }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.vkontakte, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                        <div class="col-xs-8">
                            {{ form_widget(form.vkontakte, {'attr': {'class': 'form-control', 'placeholder': 'vk.com/ivan'}}) }}
                            {{ form_errors(form.vkontakte) }}
                        </div>
                    </div>
                    {#todo сделать смену пароля как в fosuserbundle#}
                    <div class="text-center">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="window m-t-30">
                <div class="header">Новости FinFix</div>
                <div class="content">
                {% if news is not empty %}
                    {% for item in news %}
                    <div class="row news-item">
                        <div class="col-xs-3 text-center news-date">{{ item.createdAt|date('d.m.Y') }}</div>
                        <div class="col-xs-9 news-text">
                            {{ item.content }}
                            {#<div class="text-right news-continue">Читать далее</div>#}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-xs-12">
                            На данный момент новостей нет.
                        </div>
                    </div>
                {% endif %}
                    <div class="row">
                        <div class="col-xs-12 text-center news-all">
                            <a href="{{ path('app_news') }}">Все новости</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        modulejs.require('profile').start();
    </script>
{% endblock %}