{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ render(controller('AppBundle:Flash:messages')) }}
    <div class="window">
        <div class="header">
            <h3>Техподдержка</h3>
        </div>
        <div class="content">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(form.subject, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                <div class="col-xs-8">
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.subject) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.body, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                <div class="col-xs-8">
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.body) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label col-xs-4'}}) }}
                <div class="col-xs-8">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'ivanov@finfix.ru'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="text-center">
                {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
